.container{
    display: flex;
    justify-content: flex-start;
    height: 50px;
    border-bottom: 1px solid #bdc3c7;
}

a{
    color: #bdc3c7;
    text-decoration: none; 
  }
  
.activeTab{
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px  0 0;
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;

}

.tab{
   padding: 5px 10px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

a{
  color: #bdc3c7;
  text-decoration: none; 
}

